html {
	font-family: Arial, Helvetica, sans-serif;
	background: hsl(0, 0%, 99%);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
}

a {
	color: hsla(200, 60%, 50%, 1);
	text-decoration-color: hsla(200, 60%, 50%, 0.5);
}

hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.minititle {
	/* font-weight: bold; */
	opacity: 0.6;
}

.main-header {
	background: #fff;
	padding: 0.5rem;
	margin-top: -0.5rem;
	margin-left: -0.5rem;
	width: 100%;
	margin-bottom: 1rem;
	box-shadow: 0px 0px 0.15rem rgba(0, 0, 0, 0.07);
}

.pretitle {
	font-size: 0.8rem;
	opacity: 0.4;
	margin-bottom: 2rem;
	margin-left: 0.2rem;
	font-weight: normal;
	letter-spacing: normal;
}

@media screen and (max-width: 34em) {
	.pretitle {
		display: block;
	}
}

.title {
	font-size: 3rem;
	letter-spacing: 0.05em;
	margin-top: 0;
	margin-bottom: 0;
}

.description {
	margin-top: 0;
	opacity: 0.6;
}

.title a:not(:hover) {
	text-decoration: none;
}

.login__prov {
	margin-right: 0.4em;
}

.info-label {
	margin-top: 1em;
}

.info__container {
	border-collapse: collapse;
	font-size: 0.8em;
	background: #fff;
}

.info__container,
.info__container tr,
.info__container td {
	border: 1px solid rgba(0, 0, 0, 0.04);
}

.info__container,
td {
	vertical-align: top;
	padding: 0.4em;
}

.info__container,
td:nth-child(3) {
	word-break: break-all;
}

.protected-data__title {
	margin-bottom: 0;
}

.protected-data__frame {
	width: 100%;
	min-height: 4rem;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.04);
}

.info__image-narrow {
	text-align: center;
	display: none;
}

@media screen and (max-width: 30em) {
	.info__image-narrow {
		display: table-row;
	}

	.info__image-wide {
		display: none;
	}
}

.footer {
	margin-top: 4rem;
	color: rgba(0, 0, 0, 0.6);
}
